<div *ngIf="favoriteList" class="position-fixed mt-2" style="right: 275px">
  <div class="d-flex flex-wrap favorite-box">
<!--    <div >-->
      <span class="col-12 d-flex px-3 align-items-end flex-wrap">Favorites</span>
<!--    </div>-->
    <div class="col-12 d-flex flex-wrap justify-content-center">
      <img class="" src='/assets/icons/Frame%201000005116.svg'>
      <img class="px-2" src='/assets/icons/Frame%201000005117.svg'>
      <img class="" src='/assets/icons/Frame%201000005118.svg'>

    </div>
  </div>

  <!--  <div class="col-12 py-2 d-flex flex-wrap  align-items-center">-->
  <!--  <span class="col-6 px-3">-->
  <!--    <img src='/assets/icons/Group%2049.svg'>-->
  <!--  </span>-->
  <!--    <span class="col-6 messages-date text-end px-2">Jan 2 , 12:31pm</span>-->
  <!--  </div>-->
  <!--  <div class="col-12 py-2 d-flex flex-wrap  align-items-center">-->
  <!--    <h3 class="col-12 px-3">Kamand Soleimani</h3>-->
  <!--    <div class="col-12 d-flex flex-wrap justify-content-end px-4">-->
  <!--      <img src='/assets/icons/arrow-Vector%201.svg'>-->
  <!--    </div>-->
  <!--    <p class="col-12 messages-date px-3">I need some access...</p>-->
  <!--  </div>-->
</div>
<div *ngIf="messageList" class=" message-list-content">
  <div class="d-flex flex-wrap justify-content-end p-4">
    <img src='/assets/icons/icon.svg'>
  </div>
  <div class="d-flex flex-wrap justify-content-between  tittle-list">
    <span class="col-6 text-center">
      Messages
      <!-- <hr>-->
    </span>
    <span class="col-6 text-center">Notifications</span>
<!--    <span >-->
<!--          <img class="message-line" src='/assets/icons/line.svg'>-->
<!--    </span>-->
    <hr>
  </div>
  <div class="col-12 d-flex flex-wrap mt-3 justify-content-center">
    <div class="col-9 d-flex flex-wrap messages">
      <div class="col-12 py-2 d-flex flex-wrap  align-items-center">
  <span class="col-6 px-3">
    <img src='/assets/icons/Group%2049.svg'>
  </span>
        <span class="col-6 messages-date text-end px-2">Jan 2 , 12:31pm</span>
      </div>
      <div class="col-12 py-2 d-flex flex-wrap  align-items-center">
        <h3 class="col-12 px-3">Kamand Soleimani</h3>
        <div class="col-12 d-flex flex-wrap justify-content-end px-4">
          <img src='/assets/icons/arrow-Vector%201.svg'>
        </div>
        <p class="col-12 messages-date px-3">I need some access...</p>
      </div>
    </div>
    <div class="col-9 my-3 d-flex flex-wrap messages">
      <div class="col-12 py-2 d-flex flex-wrap  align-items-center">
  <span class="col-6 px-3">
    <img src='/assets/icons/Group%2049.svg'>
  </span>
        <span class="col-6 messages-date text-end px-2">Jan 2 , 12:31pm</span>
      </div>
      <div class="col-12 py-2 d-flex flex-wrap  align-items-center">
        <h3 class="col-12 px-3">Kamand Soleimani</h3>
        <div class="col-12 d-flex flex-wrap justify-content-end px-4">
          <img src='/assets/icons/arrow-Vector%201.svg'>
        </div>
        <p class="col-12 messages-date px-3">I need some access...</p>
      </div>
    </div>
    <div class="col-9 mb-5 d-flex flex-wrap messages">
      <div class="col-12 py-2 d-flex flex-wrap  align-items-center">
  <span class="col-6 px-3">
    <img src='/assets/icons/Group%2049.svg'>
  </span>
        <span class="col-6 messages-date text-end px-2">Jan 2 , 12:31pm</span>
      </div>
      <div class="col-12 py-2 d-flex flex-wrap  align-items-center">
        <h3 class="col-12 px-3">Kamand Soleimani</h3>
        <div class="col-12 d-flex flex-wrap justify-content-end px-4">
          <img src='/assets/icons/arrow-Vector%201.svg'>
        </div>
        <p class="col-12 messages-date px-3">I need some access...</p>
      </div>
    </div>
  </div>
</div>



