<nav class="navbar navbar-expand py-0 d-flex flex-wrap justify-content-between">
  <div class="px-2 py-1">
    <img class="px-3" src='/assets/icons/Vector.svg'>
    API Manager
  </div>
  <div class="col-8 d-flex flex-wrap px-2 py-1 justify-content-end">
    <img (click)="showFavoriteToggle()" class="px-2" src='/assets/icons/Shapesave.svg'>
    <img class="px-2" src='/assets/icons/Segment.svg'>
    <img (click)="showMessagesToggle()" class="px-2" src='/assets/icons/mail.svg'>
    <img class="px-2" src='/assets/icons/Line 249.svg'>
    <img class="px-2" src='/assets/icons/search.svg'>
    <img class="px-3" src='/assets/icons/question.svg'>
    <button (click)="showLoginToggle()" class=" dropdown-toggle py-1 px-3">
      <img src='/assets/icons/Frame%201000005099.svg'>
      <span class="px-2">kamand-sl</span>
    </button>
  </div>
</nav>
<div *ngIf="loginBox" class="d-flex flex-wrap login-box p-2">
  <div class="col-12 d-flex flex-wrap align-items-center">
    <img src='/assets/icons/Profilelogin.svg'>
    <span class="px-1">Profile</span>
  </div>
  <div class="col-12 d-flex px-1 flex-wrap align-items-center ">
    <img src='/assets/icons/Registeration.svg'>
    <span class="px-1">Logout</span>
  </div>
</div>
